<div class="questionare-container">
    <div class="questionare-header">
        <div class="header">
            (Name of Questionare)
        </div>
        <div class="questionare-form-button">
            <span>All</span>
        </div>
        <span class="updated-link">Updated</span>
    </div>


    <div class="section-header">
        <div class="ques">
            <span>Question</span>
        </div><div class="prev-response">
            <span>Previous response</span>
        </div><div class="new-response">
            <span>New response</span>
        </div>
    </div>


    <div class="panel-group" id="accordion-1">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title">
            <a href="javascript:;" data-toggle="collapse" data-parent="#accordion-1" data-target="#collapseOne">                
                -- 1.0 Section
            </a>
        </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="serial">
                    <span>1.1</span>
                </div><div class="ques">
                    <span>Does your company act in compliance with applicable international and local 
                            laws and regulations protecting intellectual property as well as confidential information.
                    </span>
                </div><div class="prev-response">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    </span>
                </div><div class="new-response">
                    <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                         Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at 
                         Hampden-Sydney College in Virginia, looked up one of the more.
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="serial">
                    <span>1.1</span>
                </div><div class="ques">
                    <span>Does your company act in compliance with applicable international and local 
                            laws and regulations protecting intellectual property as well as confidential information.
                    </span>
                </div><div class="prev-response">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    </span>
                </div><div class="new-response">
                    <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                         Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at 
                         Hampden-Sydney College in Virginia, looked up one of the more.
                    </span>
                </div>

            </div>
        </div>
        </div>
    </div>
    </div>

</div>