html, body {
  font-family: 'Open Sans';
  color: #939393;
  font-size: 13px;
  line-height: 24px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.navbar-default {
  border-color: transparent;
}

.menu-top {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.navbar-default {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 20px 0;
  background: #fff;
  transition: all 0.4s ease-in-out;
}

.slider-area .carousel-fade .carousel-inner .item:after {
  background: rgba(0,0,0,.7);
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fa.fa-chevron-right, .fa.fa-chevron-left{
  position: relative;
  top:50%;
}


.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  //width: 1920px;
  //height: 1280px;
  max-width: 100%;
}

.slider-area .fa-chevron-left, .slider-area .fa-chevron-right{
  border: 1px solid #fff;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  padding-top: 20px;
}
.slider-area .fa-chevron-left:hover, .slider-area .fa-chevron-right:hover {
  background: #FF6D6D;
  border: 1px solid #FF6D6D;
}

.slider-area .carousel-fade .carousel-inner .item:after {
  background: rgba(0,0,0,.7);
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider-area .carousel-caption {
  padding-bottom: 300px;
/* opacity: 0; */
}

.slider-area h1 {
  font-size: 60px;
  line-height: 62px;
  font-family: 'Lobster', cursive;
  color: #fff;
}
.slider-area h2 {
  font-family: 'Lobster', cursive;
  color: rgb(255,109,109);
  font-size: 50px;
  line-height: 50px;
}